<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
<table style='background-color: #dde5fb; width: 100%; font-family: Work Sans, sans-serif;'>
    <tbody>
    <tr style="height: 30px;">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 10%;">&nbsp;</td>
        <td>
            <table style="background-color: #fff; border: 1px #727272 solid; color: #000000; font-weight: 400; font-size: 16px; border-spacing: 0px; width: 100%;">
                <tbody>
                <tr style="background-color: #062061;">
                    <td style='height: 60px; padding: 0'>
                        <table style="width:100%; border-spacing: 0">
                            <tr>
                                <td style="width: 60px; padding: 0">
                                    <img style='height: 40px; width: 40px; padding: 10px;' src='https://master.dev.swisscon.com/assets/img/swisscon-icon.png'>
                                </td>
                                <td>
                                    <div style='color: #ffffff; font-weight: 800; font-size: 16px;'>{mail.swisscon}</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px 20px 10px 20px;">{mail.hello_general}</td>
                </tr>
                <tr>
                    <td style="padding-left: 20px; padding-right: 20px; padding-bottom: 10px;">
                        <p>{mail.invite_company.text}:</p>
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td><a style="text-decoration: none; border-radius: 3px; margin-left: 20px; color: #ffffff; background-color: #ff0000; padding: 5px;" href="{signupLink}"> {mail.invite_company.signup_here} </a></td>
                </tr>
                <tr>
                    <td style="padding-left: 20px; padding-right: 20px; padding-top: 10px;">{mail.happy_building}</td>
                </tr>
                <tr>
                    <td style="padding-bottom: 40px; padding-left: 20px; padding-right: 20px;">{mail.your_team}</td>
                </tr>
                </tbody>
            </table>
        </td>
        <td style="width: 10%;">&nbsp;</td>
    </tr>
    <tr style="height: 60px;">
        <td>&nbsp;</td>
        <td style="font-size: 13px; color: #767676;">{mail.sent}<br /> {mail.address}</td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
