<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
<table style='background-color: #dde5fb; width: 100%; font-family: Work Sans, sans-serif;'>
    <!-- Background above content -->
    <tr style='height: 30px;'>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <!-- Sides AND content -->
    <tr>
        <td style='width: 10%;'></td>

        <td>
            <!-- Content -->
            <table style='background-color: #fff; border: 1px #727272 solid; color: #000000; font-weight: 400; font-size: 16px; border-spacing: 0px; width: 100%;'>
                <tr style="background-color: #062061;">
                    <td style='height: 60px; padding: 0'>
                        <table style="width:100%; border-spacing: 0">
                            <tr>
                                <td style="width: 60px; padding: 0">
                                    <img style='height: 40px; width: 40px; padding: 10px;' src='https://master.dev.swisscon.com/assets/img/swisscon-icon.png'>
                                </td>
                                <td>
                                    <div style='color: #ffffff; font-weight: 800; font-size: 16px;'>{mail.swisscon}</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style='padding-top: 20px; padding-left: 20px; padding-right: 20px; padding-bottom: 10px;'>
                        {mail.hi}
                    </td>
                </tr>
                <tr>
                    <td style='padding-left: 20px; padding-right: 20px; padding-bottom: 10px;'>
                        {mail.welcome.text}:
                    </td>
                </tr>
                <tr>
                    <td style='padding-left: 20px; padding-right: 20px; padding-bottom: 10px;'>
                        {mail.welcome.username}: {username}<br>
                        {mail.welcome.company}: {companyName}<br>
                        {mail.welcome.login}: <a target='_blank' href='{loginUrl}'>{loginUrl}</a>
                    </td>
                </tr>
                <tr>
                    <td style='padding-left: 20px; padding-right: 20px; padding-top: 10px;'>
                        {mail.happy_building}
                    </td>
                </tr>
                <tr>
                    <td style='padding-bottom: 40px; padding-left: 20px; padding-right: 20px;'>
                        {mail.your_team}
                    </td>
                </tr>
            </table>
        </td>

        <td style='width: 10%;'></td>
    </tr>

    <!-- Background BELOW content -->
    <tr style='height: 60px;'>
        <td></td>
        <td style='font-size: 13px; color: #767676;'>
            {mail.sent}<br>
            {mail.address}
        </td>
        <td></td>
    </tr>
</table>
